ul,ul *{text-shadow:4px 4px 8px ;}
body{margin:0 auto;max-width:100%;padding:8px;background-image:url("BG/00000.jpg")!important;color:white;background-size:100%;}
header h1{position:relative;background-image:url("BG/0000.jpg")!important;color:white;background-size:100%;}
#pict{font-size:115%;border:outset 1px;padding:8px;background-image:url("BG/00098.jpg")!important;color:white;background-size:100%;}
#pict:active{border:inset 1px;}
.title{background-image:url("BG/2.jpg")!important;color:white;background-size:100% 100%;}
#kreuz{position:absolute;z-index:500;width:160px;opacity:1;top:25px;left:-30px;filter:drop-shadow(1px 2px 4px black)drop-shadow(2px 3px 4px red)}
h1{font-style:italic;border:inset ivory;border-radius:15px;}
ul *,ul{font-family:Tahoma;padding:6px;}
ul{padding-left:30px;}
footer{margin:16px 0 0 0;text-align:right;color:#eee;font-size:smaller;padding:5px;}
footer p{text-shadow:none;font-family:Arial;font-weight:lighter}
@media screen and (max-width: 400px){
   h1{font-size:24px}
}
*{letter-spacing:1px;word-spacing:1px;text-shadow:7px 7px 7px}
body{font-family:'Courier New';}
header{padding-left:0px;min-height:100px;}
h1{opacity:0.7;font-family:Georgia;font-variant:small-caps;padding:16px 8px 8px 76px;text-align:center;border-radius:15px;min-height:60px;}
.text{padding:4px;font-family:Arial;text-shadow:none;text-indent:1em;}
main p{border-radius:10px;}
.titl li:last-child{list-style-type:none;}
.titl{border-radius:10px;}
main{padding:16px;}
nav a{text-shadow:none;font-weight:900;text-decoration:none;border:solid 2px;padding:2px;border-radius:10px;}
section a {font-weight:100;background:white!important;color:green!important;padding:0px;font-family:'Verdana';border-radius:4px;}
section img{max-width:10%;}
#pics a{background-color:transparent!important;}
	section p{background:white!important;color:black!important;}
/*WTF*/